<html ng-app='app'>
<head>
	<title>We're > HIV | Home</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<script type="text/javascript" src="javascripts/angular.min.js"></script>
	<script type="text/javascript" src="javascripts/ang.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
</head>
<body ng-controller="MainController">


			<div class='container'>{{mode == forum}}
						<% include partials/nav.html %>
						<div ng-show="mode == 0">
							<% include partials/temp.html %>
							<% include partials/forum.html %>
						</div>
						<div ng-show="mode == 1">
							<% include partials/resource.html %>
						</div>
						<div ng-show="mode == 2">
							<% include partials/nearme.html %>
						</div>
					</div>
</body>
</html>
