  <!--       

            <div class="media">
              <div class="media-left">
                <a ng-click="upvote(post)">
                  <img class="media-object" src="..." alt="...">
                </a>
              </div>
              <div class="media-body">
               
              </div>
            </div>
 -->

            <ul class="list-group">

            <li class="list-group-item">
                <textarea class="form-control" rows="5" placeholder="New Comment" ng-model="newPost"></textarea>
                <br>
                <button class='btn btn-success' ng-click="addNewPost()">Submit</button>



            </li>
              <li class="list-group-item" ng-repeat="post in allPosts | orderBy: '-points'">
                <span class="badge">{{post.points}}</span>
                <h4>{{post.content}}</h4>
                {{post.user}}
                <a ng-click="upvote(post)">Upvote</a>
              </li>
            </ul>

       <!--      <div class="jumbotron well" >
                <a href=""></a>
                <p>{{post.user}}</p>
            </div> -->





        <div class="row" style="margin-left: 10px;">
            <div class="col-md-12">
                <ul class="pagination">
                    <li>
                        <a href="forum.html">Prev</a>
                    </li>
                    <li>
                        <a href="forum.html">1</a>
                    </li>
                    <li>
                        <a href="forum.html">2</a>
                    </li>
                    <li>
                        <a href="forum.html">3</a>
                    </li>
                    <li>
                        <a href="forum.html">4</a>
                    </li>
                    <li>
                        <a href="forum.html">5</a>
                    </li>
                    <li>
                        <a href="forum.html">Next</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>