
<h2>    Health Search</h2>
<h4>    Answers from WebMD, Aids.gov and TheBody.com</h4>
<script>
  (function() {
    var cx = '000119305670682067480:rqtpugzawnc';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>

<gcse:search></gcse:search>

<div class="embed-responsive embed-responsive-16by9">
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
  <script type="text/javascript" src="https://aidsinfo.nih.gov/content/themes/assets/js/slimScroll.min.js"></script>
  <div id="newswidgeth"></div>
  <script src="https://aidsinfo.nih.gov/widgets/news/feed/h" type="text/javascript"></script>
</div>
